<html>
<head></head>
<body>

<p>Greetings!</p>

<p>
    We want to thank you for registering for Midwest Furfest this year.
    We are about to open our hotel lottery process and invite you to register for it using a <strong>new streamlined process</strong> explained below.
</p>

<p>Registration for the lottery will start at {{ c.HOTEL_LOTTERY_START|datetime_local }} and will end at 
    {{ c.HOTEL_LOTTERY_DEADLINE|datetime_local }}. Being first doesn't matter for the lottery, so please take your time when entering!</p>

<p style="margin-bottom:0px;"><strong>To enter the hotel room lottery:</strong></p>
<ol>
    <li><a href="{{ c.URL_BASE }}/preregistration/homepage" target="_blank">Log into your account homepage</a>. You'll see a list of badges you've registered{% if account.hotel_eligible_dealers %}, including both purchased badges and badges associated with any pending dealer applications{% endif %}.</li>
    <li>
        Next to the details for each badge that you can enter, there will be a button that says "<strong>Enter Hotel Lottery</strong>". Click on this button to start the lottery registration process.
        <ul>
            <li>If you have multiple badges in your account, you may only enter the hotel lottery for yourself and any dependents. All other badges will show a "<strong>Send Lottery Entry Link</strong>" button instead. See "Sending hotel lottery links" below for more information.</li>
            <li>If you will not be the "group leader" (the person that will be the primary contact on the hotel room), please have the group leader enter the lottery first. You can then use the group leader's lottery confirmation number to enter the lottery as part of their room group.</li>
        </ul>
    </li>
    <li>Once you click on the button, you will be brought to the hotel lottery signup site to confirm your information and start your lottery entry (you may also be given the option to send a link to the lottery -- see "Sending hotel lottery links" below for more information).</li>
    <li>If you have a code from another attendee to become a member of a room group they submitted, you'll be able to provide it after confirming your information. If you are entering to create a new room group, you'll be asked to select your room types, desired hotels, checkin and checkout windows and any special accommodation request you might have.</li>
    {% if account.hotel_eligible_dealers %}
        <li>When entering the lottery as a dealer, you are entitled to space in the dealers block. Make sure to <strong>include the "Crowne Plaza" as a hotel option</strong> to be included in the dealers block. Also remember, you or another dealer must be the primary contact on the hotel room (the "group leader") to qualify for the dealer block.</li>
    {% endif %}
    <li>Once you have completed your entry, you should get an entry confirmation to your email address with all the information you submitted and a link to update your information if you need to. Also, if you are starting a room group, you'll be given the code to pass along to other attendees to enter as part of your room group.</li>
</ol>

<p style="margin-bottom:0px;"><strong>Sending hotel lottery links:</strong></p>
    <ul>
        <li>You cannot directly enter the lottery for adult badges on your account with an email different from your account email. Instead, <a href="{{ c.URL_BASE }}/preregistration/homepage" target="_blank">log into your account homepage</a> and click the "<strong>Send Lottery Entry Link</strong>" button next to their badge. This will send a link to that person's email address that allows them to enter the lottery using their information.</li>
        <ul><li>Note that you may also send a link to any badges on your account that are under 18 and have a different email address from yours -- this option will pop up when you click "<strong>Enter Hotel Lottery</strong>" if it is available.</li></ul>
        <li>The person that receives the lottery entry link will then have <strong>30 minutes</strong> to enter the lottery before the link expires. You can send them a new link at any time.</li>
    </ul>

<p>Once you have finished registering, you can now relax and we'll let you know if you were selected soon after the lottery closes!</p>

<p>Full instructions, hotel lottery FAQs and a list of the hotels, along with pricing, can be found <a href="{{ c.HOTEL_LOTTERY_FAQ_URL }}" target="_blank">on our convention website.</a>
<br/>If you have questions about your registration, please reach out to {{ c.REGDESK_EMAIL|email_only|email_to_link }}
{% if account.hotel_eligible_dealers %}<br/>If you have questions about your dealers application, please reach out to {{ c.MARKETPLACE_EMAIL|email_only|email_to_link }}{% endif %}
<br/>If you have questions about the hotel lottery, please reach out to {{ c.HOTELS_EMAIL|email_only|email_to_link }}
<br/>Thank you again!</p>

</body>
</html>
