<html>
<head></head>
<body>

<p>
    It's time to enter the {{ c.EVENT_NAME_AND_YEAR }} hotel lottery! Your badge's account owner has sent 
    <a href="{{ magic_link }}" target="_blank">this link</a> to you so you can start your entry.
    <strong>This link expires in 30 minutes</strong>, but your badge's account owner can always send you 
    another link from <a href="{{ c.URL_BASE }}/preregistration/homepage" target="_blank">their homepage</a> after logging in.
</p>

<p><strong>Hotel lottery entries are limited to one entry per email address.</strong>
    If your email address is already registered, clicking the link above will send you an email to edit your entry.
    See <a href="{{ c.HOTEL_LOTTERY_FAQ_URL }}" target="_blank">our FAQ</a> for more information.
</p>

</body>
</html>
