{% extends 'uber/templates/forms/group/admin_table_info.html' %}

{% block cost %}
{{ super() }}
</div>
<div class="row g-sm-3 mb-3">
    <div class="col-sm">{{ form_macros.input(table_info.power_fee) }}</div>
    <div class="col-sm">{{ form_macros.input(table_info.location) }}</div>
{% endblock %}

{% block group_status %}
{{ super() }}
    <div class="col-sm">{{ form_macros.input(table_info.socials_checked) }}</div>
    <div class="col-sm">{{ form_macros.input(table_info.table_seen) }}</div>
</div>
<div class="row g-sm-3 mb-3">
    <div class="col-sm">{{ form_macros.input(table_info.ip_concerns) }}</div>
    <div class="col-sm">{{ form_macros.input(table_info.other_concerns) }}</div>
{% endblock %}