{% extends 'uber/templates/forms/group/table_info.html' %}

{% block x_data %}
{{ super() }}
tables: {{ 1 if is_prereg_dealer else table_info.tables.data|jsonize }},
power: {{ table_info.power.data|tojson }},
ip_issues: '{{ table_info.ip_issues.data }}',
social_media_platform_1: '{{ table_info.social_media.platform_1.data }}',
social_media_username_1: '{{ table_info.social_media.username_1.data or '' }}',
social_media_platform_2: '{{ table_info.social_media.platform_2.data }}',
social_media_username_2: '{{ table_info.social_media.username_2.data or '' }}',
social_media_platform_3: '{{ table_info.social_media.platform_3.data }}',
social_media_username_3: '{{ table_info.social_media.username_3.data or '' }}',
socialMediaURL(platform, username) { 
    var url = socialMediaURL(platform);
    if (url) { return 'URL: ' + url + username };
    return ''; },
get locationPreference() { return parseInt(this.tables) < 3  },
get hadIpIssues() { return this.ip_issues == '{{ c.YES_ISSUES }}' },
{% endblock %}

{% block badges_js %}
{% if is_prereg_dealer %}
{% if not c.MAX_DEALERS %}
  <script type="text/javascript">
  updateBadgeMax = function() {
      var new_badge_max = Math.min(Math.ceil(parseFloat($("select[name=tables]").val())) * 3, 12);
      var curr_badge_max = parseInt($('select[name=badges] option:last').val()) || 0;
      if (new_badge_max && curr_badge_max > new_badge_max) {
          $("select[name=badges] option").slice(new_badge_max+1, curr_badge_max+1).remove();
      } else {
        if (new_badge_max == 0) { new_badge_max = {{ c.MAX_GROUP_SIZE }}; }
        for (i = curr_badge_max+1; i < new_badge_max+1; i++) {
            $("select[name=badges]").append('<option id="badges-'+i+'" value="'+i+'">'+i+'</option>');
        }
      }
  };
  $(function() {
      $("select[name=tables]").on('change', updateBadgeMax);
      updateBadgeMax();
      let badges = parseInt("{{ badges }}") || 0
      let lastBadge = parseInt($('select[name=badges] option:last').val()) || 0
      var selectedBadge = Math.min(badges, lastBadge);
      $('select[name=badges] option[value="' + selectedBadge + '"]').prop('selected', true);
  });

  </script>
{% endif %}
{% endif %}
{% endblock %}

{% block badges_tables %}
{% if is_prereg_dealer %}
        <div class="col-sm">
            {% call form_macros.input(table_info.tables, choices=c.PREREG_TABLE_OPTS, required=True, alpine_model="tables") %}
            <div x-show="tables >= 6">{{ form_macros.input(table_info.suite_tables) }}</div>
            {% endcall %}
        </div>
        <div class="col-sm">{{ form_macros.input(table_info.badges,
                                            choices=int_choices(1, max_badges),
                                            required=True) }}
        </div>
{% endif %}
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">
        <div class="form-text">Flexible Table Option</div>
        {{ form_macros.input(table_info.flexible_tables) }}
    </div>
    <div class="col-sm" x-show="locationPreference">{{ form_macros.input(table_info.location_preference, required_if="is_dealer && locationPreference") }}</div>
</div><div class="row g-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(table_info.power, choices=c.DEALER_POWER_OPTS if admin_area else c.PREREG_DEALER_POWER_OPTS, disabled=not is_prereg_dealer and not admin_area, alpine_model="power", required_if="is_dealer") }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(table_info.power_usage, required_if="power > 0", **{'x-bind:readonly': "power <= 0"}) }}
    </div>
{% endblock %}

{% block website %}
<div class="col-sm">{{ form_macros.input(table_info.website, required_if="is_dealer") }}</div>
<div class="col-sm">{{ form_macros.input(table_info.additional_website) }}</div>
{% endblock %}

{% block textareas %}
    <div class="col-sm">
        <div class="form-text">{{ table_info.social_media.label.text }}</div>
        <div class="card card-body">
            <p>{{ table_info.social_media.description }}</p>
            {% if admin_area %}
            {% set social_media_tuples = [
                (group.social_media.platform_1, group.social_media.username_1),
                (group.social_media.platform_2, group.social_media.username_2),
                (group.social_media.platform_3, group.social_media.username_3)
                ]
              %}
            {% for platform, username in social_media_tuples|rejectattr(0, 'equalto', 0) %}
            {% if loop.first %}<div class="d-flex gap-2 mb-3">{% endif %}
            <a href="{{ c.DEALER_SOCIAL_MEDIA_URLS[platform] }}{{ username }}" target="_blank">View {{ c.DEALER_SOCIAL_MEDIAS[platform] }} <i class="fa fa-external-link"></i></a>
            {% if loop.last %}</div>{% endif %}
            {% endfor %}
            {% endif %}
            <div class="row g-3 mb-3">
                <div class="col-sm">{{ form_macros.input(table_info.social_media.platform_1, alpine_model="social_media_platform_1") }}</div>
                <div class="col-sm">
                    {% call form_macros.input(table_info.social_media.username_1, alpine_model="social_media_username_1") %}
                    <div class="form-text" x-text="socialMediaURL(social_media_platform_1, social_media_username_1)"></div>
                    {% endcall %}
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-sm">{{ form_macros.input(table_info.social_media.platform_2, alpine_model="social_media_platform_2") }}</div>
                <div class="col-sm">
                    {% call form_macros.input(table_info.social_media.username_2, alpine_model="social_media_username_2") %}
                    <div class="form-text" x-text="socialMediaURL(social_media_platform_2, social_media_username_2)"></div>
                    {% endcall %}
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-sm">{{ form_macros.input(table_info.social_media.platform_3, alpine_model="social_media_platform_3") }}</div>
                <div class="col-sm">
                    {% call form_macros.input(table_info.social_media.username_3, alpine_model="social_media_username_3") %}
                    <div class="form-text" x-text="socialMediaURL(social_media_platform_3, social_media_username_3)"></div>
                    {% endcall %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var socialMediaURL = function(val) {
        var url_dict = {{ c.DEALER_SOCIAL_MEDIA_URLS|tojson }};
        return url_dict[val];
    }
</script>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(table_info.special_needs) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(table_info.review_notes) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(table_info.mff_alumni) }}</div>
    <div class="col-sm">{{ form_macros.input(table_info.art_show_intent) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(table_info.adult_content, required_if="is_dealer") }}</div>
    <div class="col-sm">
        {% call form_macros.input(table_info.ip_issues, required_if="is_dealer", alpine_model="ip_issues") %}
        <div x-show="hadIpIssues">{{ form_macros.input(table_info.ip_issues_text, required_if="is_dealer && hadIpIssues") }}</div>
        {% endcall %}
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(table_info.other_cons) }}</div>
    <div class="col-sm">{{ form_macros.input(table_info.tax_number) }}</div>
</div><div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(table_info.display_height) }}</div>
    <div class="col-sm">
        {{ form_macros.input(table_info.table_photo) }}
    </div>
</div><div class="row g-3 mb-3">
    <div class="col-12">{{ form_macros.input(table_info.vehicle_access) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-12">{{ form_macros.input(table_info.shipping_boxes) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-12">{{ form_macros.input(table_info.agreed_to_dealer_policies, required_if="is_dealer") }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-12">{{ form_macros.input(table_info.agreed_to_ip_policy, required_if="is_dealer") }}</div>
{% endblock %}