{% extends 'landing/index.html' %}
{% block landing_info_box %}
    <div class="alert alert-warning">
        Please refer to our <a href="https://www.furfest.org/covid-19" target="_blank">Covid-19 Policy</a> 
        for information regarding current attendee requirements for {{ c.EVENT_NAME_AND_YEAR }}.
    </div>
{% endblock %}

{% block login_intro %}
    <div class="text-center">
        <h2>Log in</h2>
        <a href="../accounts/login{% if original_location %}?original_location={{ original_location }}{% endif %}">MFF Staff? Click here to log in.</a>
    </div>
{% endblock %}