{% if c.PAGE_PATH == '/preregistration/group_members' and group.status == c.APPROVED and group.power_fee and group.auto_recalc %}
<li id="power_cost">
    {{ group.power_fee|format_currency }} for tier {{ group.power }} power ({{ c.DEALER_POWER_OPTS[group.power][1] if group.default_power_fee else "custom" }})
</li>

<script type="text/javascript">
    $(function () {
        $('#power_cost').insertAfter($('div.alert.alert-success ul li').first());
    });
</script>
{% endif %}

{% if admin_area and group.is_dealer or new_dealer %}
<script type="text/javascript">
    $(function () {
        // Position new field(s)
        $.field('location').parents('.form-group').insertBefore($.field('wares').parents('.form-group'));
        $.field('power_fee').parents('.form-group').insertAfter($.field('cost').parents('.form-group'));
        $('#power-fields').insertAfter($.field('power_fee').parents('.form-group'));
    });
</script>

<div class="form-group">
    <label for="location" class="col-sm-3 control-label">Table Assignment</label>
    <div class="col-sm-6">
        <input type="text" name="location" value="{{ group.location }}" class="form-control" placeholder="Dealer's table location" />
    </div>
</div>

<div class="form-group">
    <label for="power_fee" class="col-sm-3 control-label">Power Fee</label>
    <div class="col-sm-6">
        <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" name="power_fee" value="{{ group.power_fee }}" placeholder="{{ group.default_power_fee|default('Please set a power fee.', true) }}" class="form-control" />
        <span class="input-group-addon">.00</span>
        </div>
    </div>
</div>
{% endif %}
