{% if c.PAGE_PATH == '/preregistration/group_members' and group.status == c.APPROVED and group.power_fee and group.auto_recalc %}
<li id="power_cost">
    {{ group.power_fee|format_currency }} for power ({{ c.DEALER_POWER_OPTS[group.power][1] if group.default_power_fee else "custom" }})
</li>

<script type="text/javascript">
    $(function () {
        $('#power_cost').insertAfter($('div.alert.alert-success ul li').first());
    });
</script>
{% endif %}

{% if c.PAGE_PATH == '/preregistration/group_members' %}
<script type="text/javascript">
    cancelConfirm = function(event){
        var formToSubmit = this;
        event.preventDefault();
        bootbox.confirm({
            title: "Cancel Dealer Application?",
            message: "<p>This will permanently cancel your application. All registered badges in the group will be converted to individual badges.</p>" + 
                     '<p><strong>If you are planning to share a table with another dealer, you must get written permission from {{ "dealers@furfest.org"|email_to_link }} BEFORE cancelling your application.</strong></p>' +
                     "<p>All table-sharing requests must be sent at least two weeks before the event.</p>" +
                     "<p>Are you sure you want to cancel your dealer application?</p>",
            buttons: {
                confirm: {
                    label: 'Yes, Cancel My Application',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'Nevermind',
                    className: 'btn-outline-secondary'
                }
            },
            callback: function (result) {
                if(result) {
                    formToSubmit.submit();
                }
            }
        });
    }
</script>
{% endif %}