{%- import 'macros.html' as macros -%}
{% if c.PAGE_PATH == '/registration/form' %}
    <script type="text/javascript">
        $(function () {
            var showOrHideCompedReason = function() {
                setVisible('#comped_reason', $('select[name="paid"] option:selected').val() == '{{ c.NEED_NOT_PAY }}');
            };

            $.field('comped_reason').parents('.form-group').insertAfter($.field('paid').parents('.form-group'));
            $.field('paid').change(showOrHideCompedReason);
            $.field('placeholder').click(showOrHideCompedReason);
            $.field('badge_type').change(showOrHideCompedReason);

            showOrHideCompedReason();
            if ($.field('omit_badge')) {
                $.field('omit_badge').prop('checked', true)
            }
        });
    </script>

    <div id="comped_reason" class="form-group">
        <label for="comped_reason" class="col-sm-3 control-label">Reason for Comped Badge</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="comped_reason" value="{{ attendee.comped_reason }}" placeholder="Enter your reason for giving this attendee a comped badge." />
        </div>
    </div>
{% endif %}

<script type="text/javascript">
    $(function() {
        {% if admin_area %}
            // Override setBadgeNum to show the shirt row if Sponsor or Shiny Sponsor is selected
            if(setBadgeNum !== undefined) {
                var origSetBadgeNum = setBadgeNum;
                setBadgeNum = function() {
                    origSetBadgeNum();
                    setVisible($.field('shirt').parents('.form-group'), $.val('badge_type') == {{ c.SPONSOR_BADGE }} || $.val('badge_type') ==  {{ c.SHINY_BADGE }});
                }
            }
        {% endif %}
        if (window.BADGE_TYPES) {
            // Add a link explaining the different levels
            var levels = '<p class="help-block">'+
            '<span class="popup"><a href="https://www.furfest.org/registration" target="_blank">What are these?</a></span>'+
            '</p>';
            $("label:contains('Badge Level')").append(levels);
        }

        // No Registration Type boxes
        if ($('#reg-types').length) {
            $('#reg-types').hide();
        }

        // Also set visibility when the page loads
        setVisible('.shirt-row', $.val('badge_type') == {{ c.SPONSOR_BADGE }} || $.val('badge_type') ==  {{ c.SHINY_BADGE }});
        setVisible('.badge-row', true);
         
        // Increase maximum length of badge_printed_name and make it bold
        $.field('badge_printed_name').prop('maxlength', 30);
        $("label[for='badge_printed_name']").removeClass('optional-field');
        $('p:contains("Badge names have a maximum of 20 characters.")').text("Badge names have a maximum of 30 characters.");

    // We don't want attendees to be able to invalidate themselves
    if ($("[form='invalidate']").length) {
        $("[form='invalidate']").remove()
    }

    // No promo codes! Registration codes!
    if ($.field('promo_code')) {
        $("label[for='promo_code']").text("Registration Code");
        $.field('promo_code').attr("placeholder", "A discount code or an agent code");
        {% if not admin_area %}
        $('<p class="help-text"><em>If you have a discount code, enter it now. Agent codes may be added to your badge after logging in.</em></p>').insertAfter($.field('promo_code'));
        {% endif %}
    }

    {% if not admin_area and attendee and (attendee.badge_type == c.STAFF_BADGE or c.STAFF_RIBBON|string in attendee.ribbon_ints|string) %}
    // Hide staffing checkbox for staff to avoid confusion
    if ($.field('staffing')) {
        $("label[for='staffing']").parents('.form-group').hide();
    }
    {% endif %}
    
    // Don't actually presell presold one-day badges
    {% if c.PAGE_PATH == '/registration/register' %}
    $(function () {
          {% if c.AT_THE_DOOR_BADGE_OPTS %}
              {% for type in c.PRESOLD_ONEDAY_BADGE_TYPES %}
                  if ("{{ c.PRESOLD_ONEDAY_BADGE_TYPES[type] }}" !== moment().format('dddd')) {
                      $.field('badge_type').find("option[value='{{ type }}']").remove();
                  }
              {% endfor %}
          {% endif %}
      });
   {% endif %}
    });
</script>

