<html>
<head></head>
<body>

You ({{ attendee.full_name }}) have preregistered for {{ c.EVENT_NAME }} at the {{ attendee.badge_type_label }} level
{% if attendee.group %}
    by claiming one of the badges in the {{ attendee.group.name }} group.
{% else %}
    and your payment of {{ (attendee.amount_paid / 100)|format_currency }} has been received.  
{% endif %}
<br/><br/>
Your registration confirmation number is {{ attendee.id }}. {% if c.ATTENDEE_ACCOUNTS_ENABLED and attendee.managers %}
{% if attendee.email != attendee.managers[0].email %}
Your account holder can update your contact information, change your badge name, or upgrade your registration level by <a href="{{ c.URL_BASE }}/preregistration/homepage" target="_blank">logging into their account</a>.
{% else %}
You can update your contact information, change your badge name, upgrade your registration level, or add additional registrations by <a href="{{ c.URL_BASE }}/preregistration/homepage" target="_blank">logging into your account</a> using the account email address {{ attendee.managers[0].email }}.
{% endif %}
{% else %}
You can update your contact information, change your badge name, or upgrade your registration level by clicking <a href="{{ c.URL_BASE }}/preregistration/confirm?id={{ attendee.id }}">here</a>.
{% endif %}
<br/> <br/>

Badges are not mailed out before the event. Your badge will be available for pickup when you arrive at {{ c.EVENT_NAME }}.  Simply bring a photo ID to {% if attendee.group %}the Dealers Den Operations table outside the Dealers Den{% else %}registration in Hall A on the first floor of the Donald E. Stephens Convention Center{% endif %}, where you can pick up your badge.{% if not attendee.group %} Location and hours of registration can be found on our website at <a href="https://www.furfest.org/attend/register" target="_blank">https://www.furfest.org/attend/register</a>.{% endif %}

{% include "emails/reg_workflow/reg_notes.html" %}

<br/><br/>Please visit our website at <a href="https://www.furfest.org/attend/register/" target="_blank">https://www.furfest.org/attend/register/</a> for our full cancellation and refund policy.
<br/><br/>
If you have any other questions about your registration, please email us at registration@furfest.org. Thank you for again registering for Midwest FurFest and we’ll see you at the convention!
<br/><br/>
Midwest FurFest Registration Team<br/>
registration@furfest.org<br/>
<a href="https://www.furfest.org" target="_blank">https://www.furfest.org</a><br/>
</body>

</html>
