{% extends "uber/templates/forms/attendee/admin_badge_flags.html" %}

{% block x_data %}
{{ super() }}
get compedReason() { return this.paid == {{ c.NEED_NOT_PAY|tojson }} && this.badge_type != {{ c.STAFF_BADGE|tojson }} && !this.badge_ribbons.includes({{ c.STAFF_RIBBON|tojson }}) }
{% endblock %}

{% block paid_status %}
{{ super() }}
</div>
<div class="row g-sm-3 mb-3">
    <div class="col-sm-6" x-show="compedReason">
        {{ form_macros.input(badge_flags.comped_reason, admin_text="Enter a reason for this badge being comped, if they are not staff.", required_if="compedReason") }}
    </div>
{% endblock %}