{% extends "uber/templates/forms/attendee/prereg_other_info.html" %}

{% block staffing %}
{% if attendee.group and attendee.group.name == attendee.full_name %}
<div class="row g-sm-3 mt-2">
    <div class="col-12 col-sm-6">
        <div class="alert alert-warning" role="alert">
        <em>
            Your table name is the same as your first and last name.
            Please make sure you want to vend under your name, or change your table name below.
        </em>
        </div>
    </div>
</div>
<div class="row g-sm-3">
    <div class="col-12 col-sm-6">
        {{ form_macros.form_input(other_info.group_name, value=attendee.group.name) }}
    </div>
</div>
{% else %}
{{ form_macros.form_input(other_info.group_name, value=attendee.group.name, force_hidden=True) }}
{% endif %}

{% set include_cellphone = 'cellphone' in other_info and not other_info.cellphone.data %}
{% set staffing_message = "" %}
{% if not admin_area %}
    {% if attendee.badge_type in [c.CONTRACTOR_BADGE, c.STAFF_BADGE] or c.STAFF_RIBBON in attendee.ribbon_ints %}
    {% set staffing_message = "This checkbox is required for contractors and staff. Please contact Furfest HR if you wish to change your status." %}
    {% elif attendee.shifts %}
    {% set staffing_message = "Please " ~ 'go to the Gophers desk to change your volunteer status.' if c.AT_THE_CON else 'unassign yourself from shifts before changing your volunteer status.' %}
    {% endif %}
{% endif %}
<div class="row g-sm-3">
    <div class="col-12">{{ form_macros.toggle_checkbox(other_info.staffing, 
        [other_info.requested_depts_ids, other_info.cellphone] if include_cellphone else [other_info.requested_depts_ids], toggle_required=True, help_text=staffing_message) }}</div>
</div>

{% if include_cellphone %}
<div class="row g-sm-3">
{% set cellphone_extra_field = form_macros.toggle_checkbox(other_info.no_cellphone, [other_info.cellphone], hide_on_checked=True, toggle_required=True, prop="disabled") %}
    <div class="col-12">{{ form_macros.form_input(other_info.cellphone, extra_field=cellphone_extra_field, required=True) }}</div>
</div>
{% elif 'cellphone' in other_info %}
<input type="hidden" name="cellphone" value="{{ other_info.cellphone.data }}" />
{% endif %}

{% if c.PUBLIC_DEPARTMENT_OPTS_WITH_DESC|length > 1 %}
<div class="row g-sm-3">
    <div class="col-12">{{ form_macros.form_input(other_info.requested_depts_ids) }}</div>
</div>
{% endif %}
{% endblock %}