{% extends "uber/templates/forms/attendee/staffing_info.html" %}

{% block staffing %}
{% set staffing_message = "" %}
{% set label = "I would like to be emailed a link to the volunteer application." %}
{% if not admin_area %}
    {% if attendee.badge_type in [c.CONTRACTOR_BADGE, c.STAFF_BADGE] or c.STAFF_RIBBON in attendee.ribbon_ints %}
    {% set staffing_message = "This checkbox is required for staff. Please contact Furfest HR if you wish to change your status." %}
    {% set label = "I am volunteering for " ~ c.EVENT_NAME ~ "." %}
    {% elif attendee.shifts %}
    {% set staffing_message = "Please " ~ 'go to the Gophers desk to change your volunteer status.' if c.AT_THE_CON else 'unassign yourself from shifts before changing your volunteer status.' %}
    {% endif %}
{% endif %}
{% if staffing_message != '' %}<input type="hidden" name="{{ staffing_info.staffing.name }}" value="1">{% endif %}
    <div class="col-12">{{ form_macros.input(staffing_info.staffing, label_text=label, help_text=staffing_message, disabled=staffing_message != '', **{'x-model.boolean':'staffing'}) }}</div>

{% if c.PUBLIC_DEPARTMENT_OPTS_WITH_DESC|length > 1 %}
</div>
<div class="row g-sm-3 mb-3" x-show="staffing">
    <div class="col-12">{{ form_macros.input(staffing_info.requested_depts_ids, required_if="staffing") }}</div>
{% endif %}
{% endblock %}