<p>
    By signing this form, the undersigned ("you" or "your") acknowledges the receipt and review of these terms and conditions and the Art Show Rules
    (https://files.furfest.org/artshow/MFF-art-show-rules.pdf) and such terms constitute a legal, valid, binding, and enforceable contract between 
    Midwest Furry Fandom ("Auctioneer"), and you. These terms and conditions will control over any conflicting or inconsistent terms contained in 
    the Art Show Rules, or other documentation regarding the Art show. Your participation in the auction to be held during the 2025 Midwest FurFest, 
    December 4-7, 2025 ("Auction"), though any means, is further evidence of your agreement to be bound by these terms.
</p>

<p>
    The Auctioneer shall sell by auction works of art and other items ("Lot") consigned to be sold at the Auction held by the Auctioneer. 
    The highest price at the completion of the Auction, the "Auction Price," and the person who has placed a bid at the highest price shall be 
    the "Successful Bidder."
</p>

<p>
    By submitting Lots to be sold at the Auction, you represent that you are at least eighteen (18) years of age and that you are otherwise legally 
    able to enter into a contract in the state of Illinois. These terms and conditions shall be governed by the laws of the State of Illinois, 
    without regard to its conflict of laws principles.
</p>

<p>
    You hereby give the Auctioneer the right to sell your Lot(s) at the prices included in the above check-in sheet. The proceeds you receive from 
    any successful sales of Lots submitted to the Auction shall be the non-taxed bid price, reduced by a commission of ten percent (10%). After 
    receiving the Auction Price from a Successful Bidder for a Lot, the Auctioneer will deliver the purchased Lot; provided, however, title to a 
    purchased Lot shall not pass to the Successful Bidder until the Successful Bidder completes the payment of the Auction Price and the Auctioneer 
    delivers the purchased Lot to the Successful Bidder, and title to the purchased Lot shall pass to the Successful Bidder at the time when the 
    Auctioneer delivers the purchased Lot after the successful bidder completes payment of the Auction Price.
</p>

<p>
    The Auctioneer has the sole right to remove any works from the Auction, including those that do not conform to Art Show Rules and any other 
    rules and policies of the Auction.
</p>

<p>
    You hereby assume all risks in connection with your participation, or attempted participation, in the Auction, and waive any and all claims 
    or causes of action against the Auctioneer arising from, without limitation, all risks associated with: (i) your presence at the Auction site; 
    (ii) delivery, removal, transport, or use of any Lot(s); (iii) the use or alleged use of any intellectual property in connection with any Lot(s); 
    (iv) the payment of the Auction Price and delivery of your Lot to a Successful Bidder; (v) claims by Successful Bidders and unsuccessful bidders 
    related to your Lot(s); (vi) your breach of any representations or warranties made to the Auctioneer and/or (vii) any harm, injury, or damage to 
    you or your property resulting from acts other than those caused exclusively by Auctioneer's gross negligence or intentional misconduct. Further, 
    you agree to indemnify the Auctioneer from any third-party claims related to the risks described in the preceding sentence.
</p>

<p>
    Auctioneer will regulate all matters relating to the conduct of the Auction at Auctioneer's sole and complete discretion and will resolve any 
    and all disputes related to the Auction. The final determination of any winning bid will be made by the Auctioneer.
</p>

<p>
    If you choose to designate an agent to act on your behalf during the Auction, you must notify the Auctioneer in writing prior to the start of 
    the Auction. By designating an agent, they will make decisions on your behalf with respect to the Lot(s) and the Auction. You further agree to 
    indemnify the Auctioneer for any actions taken by your agent in the course of the Auction and delivery of any Lots.
</p>

<p>
    All unsold auction items must be picked up between 12:00 pm and 5:00 pm on the Sunday immediately following the Auction at the location 
    designated by the Auctioneer, unless you have registered as a mail-in artist, in which case items shall be returned via mail by the Auctioneer 
    as described in the Art Show Rules. Any unclaimed items will be returned to you at your expense; if Auctioneer is unable to return items due 
    to non-payment of return fees or inability to contact you, items may be discarded or otherwise disposed of by the Auctioneer.
</p>

<span class="text-muted">rev 2025-10-26</span>