{% extends "uber/templates/hotel_lottery/ada_info.html" %}

{% block ada_info %}
<p>
    We have a wide variety of ADA-compliant rooms which can accommodate those with mobility, hearing, or visual impairments.
    Note that {{ c.EVENT_NAME }} will likely receive more ADA requests than available rooms; once ADA rooms are exhausted, standard rooms are awarded.
</p>
<p>
    At the conclusion of the lottery, MFF Accessibility Services reaches out to all room awards with an ADA request, regardless of the awarded room type.
    If an ADA request is made but the available rooms cannot accommodate your needs, your reservation may be canceled without penalty.
</p>
<p>
    If you do <strong>not</strong> require an ADA-compliant room, but would like to request an accomodation for medical need(s) (e.g., quiet floor placement, low floor placement, close proximity to elevators/stairs), please leave the checkbox below <strong>unchecked</strong>.
    Instead, if you are awarded a room after the lottery's conclusion, please reach out to <a href="mailto:accessibility@furfest.org" target="_blank">MFF Accessibility Services</a> to discuss available options. If the available rooms cannot accommodate your needs, the reservation may be canceled without penalty.
</p>
<p><strong>Please note</strong>: At this time, no intra-hotel shuttles are equipped with wheelchair lifts.</p>
{% endblock %}