{% extends "uber/templates/hotel_lottery/suite_lottery_form.html" %}

{% block hotel_ranking %}{% endblock %}

{% block room_type_ranking_form %}
{{ form_macros.form_input(room_or_suite_lottery.shared_fields['room_or_suite_type_preference'],
    help_text="" if c.AFTER_HOTEL_LOTTERY_FORM_START else "The staff (less expensive) Regency suite rate is not available after the staff room lottery closes.",
    readonly=read_only) }}
<hr/>
{% endblock %}

{% block terms_desc %}
{% if not read_only %}
<p>
    By checking the box below, you certify that you have read, understand and agree to comply with the
    <a href="https://www.furfest.org/attend/hotels/suites#policies" target="_blank">{{ c.EVENT_NAME }} Suite Policies and Rules</a>,
    including social/party policies, payment and cancellation requirements.
    You further understand that failure to comply may result in the hotel disallowing any social gatherings and/or becoming ineligible for suites in future years.
</p>
{% endif %}
{% endblock %}