<html>
<head></head>
<body>
<h4>Greetings!</h4>

<p>You are receiving this email because you indicated an accessibility need when you registered for Midwest FurFest {{ c.EVENT_YEAR }}. Before you make your annual pilgrimage to Rosemont, we want to ensure that you have enough information to help make the convention more enjoyable. Access to any of our accommodations does not require any proof of disability.</p>

<p>
    We encourage you to review the following resources:
    <ul>
        <li><a href="https://www.furfest.org/attend/accessibility" target="_blank">Accessibility Services Department Page</a></li>
        <li><a href="https://www.furfest.org/attend/accessibility/faq" target="_blank">Accessibility FAQ</a></li>
        <li><a href="https://www.furfest.org/s/MFF-Accessibilty-Services-Resource-Guide-2025.pdf" target="_blank">Accessibility Resource Guide (PDF)</a></li>
        <li><a href="https://www.furfest.org/attend/accessibility/neurodivergent-guide" target="_blank">Neurodivergent Convention Survival Guide</a></li>
    </ul>
</p>

<h4>How to Find Us</h4>

<p>
    <strong>Accessible Registration Queue - Convention Center (Hall A)</strong>
    <br/>The Queue will be Open Thursday through Saturday during the same hours as Registration.
</p>

<p>
We strongly recommend entering Hall A via the accessible ramp. It provides the safest and most direct path into the hall; however it can be easy to miss, especially when the lobby is crowded.
<ul>
    <li>
        <strong>From the main entrance off River Road:</strong>
        <br/>The ramp is directly across the lobby and to your far left. It runs parallel to the main entrance doors.
    </li>
    <li>
        <strong>From the elevators:</strong>
        <br/>When you exit the elevator, make a U-turn. The ramp entrance will be directly across from you and to the far right.
    </li>
    <li>
        <strong>From the escalators:</strong>
        <br/>When you reach the bottom, look straight ahead. The ramp entrance will be directly across from you and to the far right.
    </li>
</ul>
</p>

<p>
    <strong>Accessibility Services Office - Hyatt Regency O'Hare (Lambert)</strong>
    <br/>Our office is located on the entry level of the Hyatt Regency. Stop by and say hello! Team members are available Friday and Saturday from 10am to 8pm, and Sunday from 10am to 5pm.
</p>

<p>Our office is your hub for accessibility questions and real-time support throughout the weekend. We also offer helpful items like facemasks, foam earplugs, hand sanitizer, and a small selection of sensory tools.</p>

<p>You can also reach the office by phone during operating hours at: <strong>530-495-4633 Ext. 303.</strong></p>

<h4>Accessible Registration Queue</h4>
<p><strong>NEW THIS YEAR! We've redesigned the area!</strong></p>

<p>Once you come down the ramp, a staff member will check you in and give you a numbered ticket. Feel free to sit anywhere in the waiting area until your number is called. If you need support–for example, if you are blind or have low vision and would like a sighted critter to guide you -- just let the check-in staffer know and they'll be happy to help.</p>

<h4>ADA Shuttle Service</h4>
<p>In addition to the complimentary shuttle routes, we now have an on-call ADA shuttle! This van accommodates one wheelchair or scooter user and one companion at a time. It operates during the same hours and will stop at the same locations as the other shuttles.</p>

<p>Please note that this shuttle is reserved for attendees who use wheelchairs, scooters, or who have difficulty boarding the regular buses. To keep wait times and ensure this limited resource is available to those who need it most, we ask attendees who are physically able to use the standard shuttles to do so.</p>

<p>For more information and the contact number, please visit one of our locations.</p>

<h4>Deaf & Hard of Hearing Services</h4>
<p>We provide ASL interpretation for all major events and live captioning for Opening and Closing Ceremonies.</p>

<p>Limited interpreter support is available for other programming during the weekend. Text the Interpreter Request Line at <strong>816-506-3623</strong>. The line is open from 11am-11pm Friday through Sunday.</p>

<h4>Questions and Feedback</h4>
<p>Email us at {{ "accessibility@furfest.org"|email_to_link }}! We are always striving to improve the convention; your feedback, both constructive and commendable, helps make that possible. Kindly note that we are unable to respond to messages sent during the con in a timely manner. If you have an urgent concern or request, please come find us in person.</p>

<p>We look forward to seeing you!</p>

<p>Damon “Dozer” Stango (he/him)
<br/>Director
<br/>Accessibility Services</p>

</body>
</html>