<html>
<head></head>
<body>
<p>Greetings!</p>
 
<p>You are receiving this email because you indicated an accessibility need when you registered for Midwest Furfest 2023. Before you make your annual pilgrimage to Rosemont, we want to ensure that you have enough information to help make the convention more enjoyable. Access to any of our accommodations does not require any proof of disability.</p>

<p><strong>Accessibility Services Office</strong>
<br/>Our office is located in Lambert on the entry level of the Hyatt Regency. Stop by and say hello! Team members are available: 
<ul>
    <li>Friday: 10am to 8pm</li>
    <li>Saturday: 10am to 8pm</li>
    <li>Sunday: 10am to 5pm</li>
</ul>
</p>

<p>You can also reach the office by phone during operating hours at: <strong>530-495-4633 Ext. 303.</strong></p>

<p>We have a temporary Help Desk in Registration (Hall A) on Thursday, located next to the Accessibility entrance. More on this can be found further below.</p>

<p>Teams from Accessibility (green vests), Crowd Control (light blue vests) and Safety (white vests) are stationed throughout the convention all weekend to ensure that programming areas are accessible. Please approach them if you need assistance.</p>

<p><strong>Color Communication Badges</strong>
<br/>These can be clipped behind your con badge to help express your boundaries quickly and non-verbally. They come in a set of 2 double-sided cards. You might be tempted to take one, but please take both! Sometimes interaction desires change; plus our Publications team added really cute theme artwork! They are available free of charge at the Accessibility Services Office, Registration, Operations, and Info Desks.
</p>

<p><strong>Deaf & Hard of Hearing Services</strong>
<br/>ASL interpretation is provided for all major events: Opening Ceremonies, Fursuit Dance Competition, Floor Wars, and Closing Ceremonies. We also provide live captioning at Opening and Closing Ceremonies.
</p>

<p>If you plan on attending any panels, please <a href="https://jira.furfest.org/servicedesk/customer/portal/21" target="_blank">request interpreters</a> as early as possible prior to the convention.</p>

<p>We have a limited number of interpreters available for individual assistance. Our team will do our best to accommodate you. You can text the Interpreter Request Line at 816-506-3623. The line is open from 11am-11pm Friday through Sunday.  </p>

<p><strong>Quiet Rooms</strong>
<br/>Quiet Rooms are located in both the Hyatt and Convention Center. We encourage you to use these low-sensory spaces to rest and recharge. Please be courteous to fellow attendees while enjoying your time in the space. 
</p>

<p><strong>Registration</strong>
<br/>A separate entrance is available for those who are unable to stand for long periods during peak badge pickup times. <u>This line is exclusively for people with disabilities.</u> Exceptions are made for paid/unpaid caregivers, wheelchair attendants, and parents of minor children. Partners and friends will need to use the regular lines. Our comrades in Registration have reported that there are typically no wait times by Friday early afternoon. 
</p>

<p><strong>Service Animals</strong>
<br/>Our Service Animal Policy can be found <a href="https://www.furfest.org/attend/accessibility" target="_blank">here</a>.
</p>

<p>There are two (2) relief areas available at the Hyatt Regency O'Hare. There are none around the Convention Center. The first area is by the main entrance on the street level off W Bryn Mawr Avenue. Looking at the front entrance, it is located to the right, towards the “Smoking Area” under the tower. There is a grassy section with a waste receptacle and disposal bags. The second relief area is on the East end of the building, outside of the Delta and Allegheny Conference Rooms, immediately adjacent to the exit doors facing the Convention Center. </p>

<p>We are still getting to know our other lodging partners, so we recommend calling your hotel directly for specific property information. </p>

<p><strong>Wristbands</strong>
<br/>These allow the wearer priority access to elevator and event lines. Each wristband holder is allowed one (1) person to accompany them. You must have a badge before requesting a wristband. You will need to provide your badge number and complete a short form.
</p>

<p>If you would like to obtain a wristband on Thursday, come to the Accessibility Helpdesk in Registration. After Thursday, you can obtain one by visiting the Accessibility Services Office.</p>

<p><strong>Questions/Complaints/Feedback</strong>
<br/>Contact us at {{ "accessibility@furfest.org"|email_to_link }} for more information. We are always striving to improve the convention; your feedback, both constructive and commendable, helps make that possible.
</p>

<p>Kindly note that we are unable to respond to emails sent during the con in a timely manner. If you have an urgent concern or request, please call or visit us!</p>

<p>We look forward to seeing you!</p>

<p>Damon “Dozer” Stango (he/him)
<br/>Director
<br/>Accessibility Services</p>

</body>
</html>