<p>Hello {{ attendee.first_name }} "{{ attendee.badge_printed_name }}" {{ attendee.last_name }},</p>

<p>You are getting this email because during pre-registration you indicated you were interested in helping out the convention by volunteering a little bit of your time. If that was accidental or you have since changed your mind, you may stop reading now and delete this email without any concern.</p>

<p>You might have already found <a href="https://www.furfest.org/help/volunteer" target="_blank">https://www.furfest.org/help/volunteer</a> and applied to volunteer by clicking that big "Sign up to Volunteer" button in the middle. If you've already done so, that's great! But if you haven't done that and still intend to volunteer then now is the time to go check out that webpage and click the button!</p>

<p>That webpage provides a good introduction about what to expect when volunteering with us, complete with FAQ, and the list of some cool swag we offer in exchange for your help. We recommend using a desktop when submitting your application because the mobile format is a bit tricky. Once you submit it you'll be added to our email updates and get more information from there. Please be patient with us though as not all of the emails are sent immediately.</p>

<p>Lastly, if you have any questions, concerns, or something just isn't working right, you can contact us about it at volunteers@furfest.org</p>

<p>Thank you for your interest and we look forward to working with you for the best heist... I mean perfectly regular convention, ever!</p>

<p>
    ~Kovrick
    <br/>Boss of the Meowfia Gang (MFF Volunteers Dept)
</p> 