<p>Hello {{ attendee.first_name }} "{{ attendee.printed_badge_name }}" {{ attendee.last_name }},</p>

<p>You are getting this email because during pre-registration you indicated you were interested in helping out the convention by volunteering 
    a little bit of your time. If that was accidental or you have since changed your mind, you may stop reading now and delete this email without any concern.</p>

<p>If you have already discovered on your own that you can register fully to volunteer by filling out the application form found by clicking the 
    "Become a Volunteer" button at <a href="https://www.furfest.org/help/volunteer" target="_blank">https://www.furfest.org/help/volunteer</a> 
    you may <i>also</i> stop reading because you've already done the critical step and should have received or will soon receive further instructions 
    from a G.O.P.H.E.R. Division agent!</p>

<p>However, if you're still reading and you haven't filled out that form or seen that webpage then you are the recruit we are trying to reach! 
    The webpage provides a good introduction about what to expect when volunteering with us and some cool swag in exchange for your help. Most 
    importantly that application form is the critical first step and now that we've fixed it up from those villainous critters keeping it at bay 
    it is ready for your submission! Apologies about that delay! So really we just wanted to reach out to make sure you know it is now ready for 
    you to fill out and start your volunteering journey proper!</p>

<p>Again, you want to go to <a href="https://www.furfest.org/help/volunteer" target="_blank">https://www.furfest.org/help/volunteer</a>, 
    click the "Become a volunteer" button, and fill out the form on the next page. We recommend using a desktop because the mobile format 
    is a bit tricky. Once you submit it you'll be added to our email updates and get more information from there. Bear with us as not all of the emails 
    are sent immediately.</p>

<p>Lastly, if you have any questions, concerns, or something just isn't working right, you can simply reply to this email about any of that.</p>

<p>Thank you for your interest and we look forward to working with you side by side at the convention!</p>

<p>
    ~Kovrick
    <br/>Director of the Gopher Division
</p>
