<p>Hello {{ attendee.first_name }} "{{ attendee.badge_printed_name }}" {{ attendee.last_name }},</p>

<p>You are getting this email because during pre-registration you indicated you were interested in helping out the convention by volunteering a little bit of your time. If that was accidental or you have since changed your mind, you may stop reading now and delete this email without any concern.</p>

<p>We wanted to let you know that the information page for volunteering is now live and up to date at <a href="https://www.furfest.org/help/volunteer" target="_blank">https://www.furfest.org/help/volunteer</a> </p>

<p>That webpage provides a good introduction about what to expect when volunteering with us, complete with FAQ, and the list of some cool swag we offer in exchange for your help. The application button is below the information about reward tiers. We recommend using a desktop when submitting your application because the mobile format is a bit tricky. Once you submit it you'll be added to our email updates and get more information from there. Please be patient with us though as not all of the emails are sent immediately.</p>

<p>As a reminder, we do have shifts available before registration opens on Thursday. This includes setup tasks as early as Wednesday afternoon. Please email us about that if you are interested, or have any other questions, at {{ 'volunteers@furfest.org'|email_to_link }}</p>

<p>Thank you for your interest and we look forward to working with you for such a fantastic villainous vacation!</p>

<p>
    ~Kovrick
    <br/>G.O.P.H.E.R. Division Director (MFF Volunteers Dept)
    <br/> <i>Have you heard the hiss of the Great Honk today?</i>
</p>