<p>Hello {{ attendee.first_name }} "{{ attendee.badge_printed_name }}" {{ attendee.last_name }},</p>

<p>Dear Volunteers from registration! Due to something slipping through the cracks a followup message beyond your confirmation
    of volunteering interest was not sent. That's on us!</p>

<p>But if you have not already found us and are still interested in volunteering, please find us in the Hyatt Regency O'Hare, 
    Dulles Room next to operations. It's in the fishbowl on the 2nd floor. Hope to see you there and apologies for the 
    miscommunication. You can also complete the online application ahead of time at https://www.furfest.org/help/volunteer .</p>

<p>
    ~Kovrick
    <br/>Director of the Gopher Division
</p>
