{% extends 'forms/table_info.html' %}

{% block badges_js %}
{% if is_prereg_dealer %}
{% if not c.MAX_DEALERS %}
  <script type="text/javascript">
  updateBadgeMax = function() {
      var new_badge_max = Math.min(Math.ceil(parseFloat($("select[name=tables]").val())) * 3, 12);
      var curr_badge_max = parseInt($('select[name=badges] option:last').val()) || 0;
      if (new_badge_max && curr_badge_max > new_badge_max) {
          $("select[name=badges] option").slice(new_badge_max+1, curr_badge_max+1).remove();
      } else {
        if (new_badge_max == 0) { new_badge_max = {{ c.MAX_GROUP_SIZE }}; }
        for (i = curr_badge_max+1; i < new_badge_max+1; i++) {
            $("select[name=badges]").append('<option id="badges-'+i+'" value="'+i+'">'+i+'</option>');
        }
      }
  };
  $(function() {
      $("select[name=tables]").on('change', updateBadgeMax);
      updateBadgeMax();
      let badges = parseInt("{{ badges }}") || 0
      let lastBadge = parseInt($('select[name=badges] option:last').val()) || 0
      var selectedBadge = Math.min(badges, lastBadge);
      $('select[name=badges] option[value="' + selectedBadge + '"]').prop('selected', true);
  });

  </script>
{% endif %}
{% endif %}
{% endblock %}

{% block cost %}
{{ super() }}
{% if admin_area %}
<div class="row g-sm-3">
    <div class="col-12 col-sm-6">{{ form_macros.form_input(table_info.power_fee) }}</div>
    <div class="col-12 col-sm-6">{{ form_macros.form_input(table_info.location) }}</div>
</div>
{% endif %}
{% endblock %}

{% block badges_tables %}
{{ super() }}

<div class="row g-sm-3">
    <div class="col-12 col-sm-6">{{ form_macros.form_input(table_info.power, choices=c.DEALER_POWER_OPTS if admin_area else c.PREREG_DEALER_POWER_OPTS) }}</div>
    <div class="col-12 col-sm-6">{{ form_macros.form_input(table_info.power_usage) }}</div>
</div>
{{ form_macros.toggle_fields_js(table_info.power, [table_info.power_usage], off_values=[-1, 0], toggle_required=True, prop='readonly') }}
{% endblock %}

{% block website %}
<div class="row g-sm-3">
    <div class="col-12 col-sm-6">{{ form_macros.form_input(table_info.website) }}</div>
    <div class="col-12 col-sm-6">{{ form_macros.form_input(table_info.tax_number) }}</div>
</div>
{% endblock %}

{% block textareas %}
<div class="row g-sm-3">
    <div class="col-12">{{ form_macros.form_input(table_info.special_needs) }}</div>
</div>
<div class="row g-sm-3">
    <div class="col-12">{{ form_macros.form_input(table_info.review_notes) }}</div>
</div>
{% endblock %}