
<h4 class="text-danger">Disclaimers</h4>
<ul>
<li>All attendees must abide by our <a href="https://www.furfest.org/code-of-conduct" target="_blank">code of conduct</a>.</li>
<li>Admissions purchased prior to the event must be picked up in person at event registration. Full information on Registration operating hours can be found on our <a href="https://www.furfest.org/attend/register/" target="_blank">Registration website</a>.</li>
<li>Midwest Furfest has a one badge per person policy. If you purchase multiple badges (for your family, friend, or as a gift), please ensure that each badge is purchased in the name of the individual who the badge is intended for. You may use the same email address for multiple badges so any surprises aren't ruined. The purchaser retains sole ownership of the badge until the end of preregistration.</li>
<li>Each badge holder must present and present identification to receive their badge. No person can pick up a badge for someone else, regardless of who paid for the badge.</li>
<li>Minors (those under 18 years of age at the start of the convention) must be accompanied by a parent or guardian, or have a notarized unattended minor form. Please review our <a href="https://www.furfest.org/support/parents-guide" target="_blank">Parent's Guide</a> for more information.</li>
<li>Please review our frequently asked questions <a href="https://www.furfest.org/attend/register/faq" target="_blank">on our website</a> prior to purchasing your badge for important information. </li>
{% if not c.AT_THE_CON %}<li> If you don't pay for your registration, it will be deleted and you will have to pay full price at the door.</li>{% endif %}
<li>
Refunds for your Midwest FurFest registration can be requested by sending an email to {{ "registration@furfest.org"|email_to_link }}. Refund requests must be sent from the email address associated with the registration account requesting the refund.

<br/><br/>Attendees can request a full refund through 11:59PM Central Standard Time on Saturday, December 9, 2023. 
<br/>Sponsors and Shiny Sponsors can request a full refund through 11:59PM Central Standard Time on Wednesday, November 29, 2023. A partial refund equal to the amount of the pre-registration Attendee registration can be requested until 11:59PM Central Standard Time on Saturday, December 9, 2023.
<br/>Any badge that is marked as Checked In on Thursday, November 30, 2023 or later is not eligible for a refund.
</li>

    {% if c.CONSENT_FORM_URL and (attendee and attendee.age_now_or_at_con and attendee.age_now_or_at_con < 18) %}
  <li> Attendees under 18 MUST bring a signed and notarized parental consent form if not accompanied by parent or guardian during badge pickup. Also, any attendee under the age of 17 must be with their parent or other guardian while on site. Please see our registration FAQ for more information. Failure to have a proper permission paperwork filled out will prevent you from receiving your badge.</li>
    {% endif %}
    {% if attendee and attendee.group_id %}
    <li> Submitting a dealer application does not guarantee you will be selected for the Dealers Room - it is only the application. You will be contacted by a dealer room representative with more information once your application is processed. Please contact the <a href="mailto:dealers@furfest.org" target="_blank">dealers room department</a> with any dealer related questions.</li>
    <li> Table costs and memberships may be refunded if you need to cancel your dealership. Tables may not be transferred under any circumstances.</li>
    {% endif %}
</ul>
<br/>

<script type="text/javascript">
    $(document).ready(function(){
        window.scrollTo(0,0);
    });
</script>
