{% extends "./preregistration/preregbase.html" %}
{% block title %}Preregistration Successful{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}
<div class="masthead">
</div>

<div class="card card-body">
  {{ macros.prereg_wizard(c.PAGE_PATH, c.PREREG_REQUEST_HOTEL_INFO_OPEN) }}

<div class="row">
  <div class="well col-md-offset-1 col-md-10">
    <h1>Registration Complete</h1>
    <p>
      Congratulations! Your registration was successful.
    </p>
    {% if total_cost|int > 0 %}
        <p>
            Your credit card was successfully charged for
            <strong>{{ total_cost|format_currency }}</strong>, and you will receive a confirmation
            email sent to you shortly. If you paid for other registrations, those
            attendees will get their own confirmation email.
        </p>
    {% else %}
        <p>
            You will receive a confirmation email sent to you shortly.
            {% if preregs|length > 1 %}All attendees will get their own confirmation email.{% endif %}
        </p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <a href="../preregistration/form">
      <button class="btn btn-primary">Add Another Registration</button>
    </a>
    {% if c.ATTENDEE_ACCOUNTS_ENABLED %}
    <a href="../preregistration/homepage" class="btn btn-info">Manage Your Registrations</a>
    <a href="../preregistration/logout" class="btn btn-danger">Log Out</a>
    {% endif %}

{% endblock %}
